body{
	background-image :url("../IMG/full-bloom.png");
	font-size:20px;
    font-family:Sans Serif;
    
}

.active{
	background-color:orange;
}

.mail:visited{
    color:blue;

}

nav{
	display:inline;
	
}

nav li {
	list-style-type: none;
	display:inline-block;
	padding-left:60px;
	padding-right:60px;
	border-right:2px solid gray;
	
}
nav li a{
	font-style:italic;
	font-weight:bolder;
	margin-left:70px;
	text-decoration:none;
	color:gray;

}

nav li a:hover{
	background-color:orange;

}

.contenu{
    margin:100px 150px;

    padding-left:30px;
    padding-top:10px;
    border:1px solid gray;
    box-shadow: 3px 3px 3px 3px gray;

    background-image:url("../IMG/full-bloom.png");
    background-color:gray;

    display:flex;
    flex-direction: column;

}

strong{
    color:green;
    padding-right:10px;

}


.certification{
    display:flex;
    margin:30px;
    margin-top:15px;
    
}

#piedPage{
    display:flex;
    justify-content: space-between;

}